@use "tailwindcss";
@source not inline("container");

@theme {
  --container: initial;
  --breakpoint-xs: 480px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1596px;
}

@layer components {
  .container {
    max-width: var(--breakpoint-xl);
    margin-left: auto;
    margin-right: auto;
  }
}