@use 'tailwindcss';
@source not inline('container');

/*
To clear the default utility values, add the related namespace to this list.
Theme variable namespaces: https://tailwindcss.com/docs/theme#theme-variable-namespaces
*/
$namespaces: (
  '--breakpoint-*': initial,
  '--color-*': initial,
  '--text-*': initial,
);

$breakpoints: (
  'xs': '480px',
  'sm': '640px',
  'md': '768px',
  'lg': '1024px',
  'xl': '1280px',
  '2xl': '1596px',
);

$colors: (
  'red': #ff0000,
  'blue': #0000ff,
  'black': #000,
  'white': #fff,
  'transparent': transparent,
);

/*
By default, sizes from 2 to 256px will be automatically added.
Usage:
text-2.5 - font-size: 10px
text-4 - font-size: 16px

You can also add "non-standard" font sizes to this block if necessary.
usage: text-35px.
*/

$text-sizes: (
  '15px': 15px,
  '27px': 27px,
  '35px': 35px,
);

@theme {
  @each $name, $value in $namespaces {
    #{$name}: #{$value};
  }

  @each $name, $value in $breakpoints {
    --breakpoint-#{$name}: #{$value};
  }

  @each $name, $value in $colors {
    --color-#{$name}: #{$value};
  }

  // text sizes
  $i: 0.5;
  $end: 64;
  @while $i <= $end {
    --text-#{$i}: #{rem-convert($i * 4px)};
    $i: $i + 0.5;
  }
  @each $name, $value in $text-sizes {
    --text-#{$name}: #{rem-convert($value)};
  }
  // text sizes end
}

@layer components {
  .container {
    max-width: var(--breakpoint-xl);
    margin-left: auto;
    margin-right: auto;
  }
}